*{
  margin: 0;
  padding:0;
}
body
{
	background-color:orange;
	backface-visibility:visible;
	background-position:right;
}
 .1
 {
   margin:20px 20px 10px 10px;
   padding: 10px 10px;
   border-style:double;
   animation-duration:all;
 }
  .wrapper
  {
    font-family:arial;
    font-size:16px;
    line-height: 24px;
  }

.helo
{
	display:flex;
	width:100%;
}
@media only screen and (min-width: 768px)
{
	.helo,hai
	{
		width:100%;
		padding-bottom:30px;

	}
}
